extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Sign Up

                // register form
                form(method='POST' action='/users/register' oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='Full Name' name='name' value=fullName required='required')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Email' name='email' value=email required='required')
                    div.form-group
                        label(for='username') Username:
                        input#username.form-control(type='text', placeholder='Username' name='username'  required='required')
                    div.form-group
                        label(for='password') Password:
                        input#password.form-control(type='password' name='password' required='required')
                    div.form-group
                        label(for='confirmPassword') Confirm Password:
                        input#confirmPassword.form-control(type='password' name='confirmPassword' required='required')
                    button.btn.btn-primary(type='submit') Sign up
   

    